
/* General styles*/
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html,
body {
  height: 100%;
  
}
li{
  list-style:none;
}

a{
  color:#000;
}


/* Navigation */

.navbar-brand #logo{
  font-size:2.5rem;
  font-family: 'Dancing Script', cursive;
  color:black;
}
.navbar-brand{
  position: absolute;
  left:50%;
  transform:translateX(-50%);
  top: 10px;
}

.navbar{
  padding:1em 0;
  
}
.nav-item{
  margin-left:1rem;
}

.navbar-toggler{
  border:none;
  outline:none;
}

/* Background Image */

.banner{
  position:relative;
  background: url("../img/firstSlide.jpg") ;
  background-repeat:no-repeat;
  min-height:100vh;
  background-size:cover;
  background-position: center;
  
}


.banner-text{
  font-size:2.2rem;
  color:aquamarine;
  padding-left:4%;
  padding-top:220px;
  padding-bottom:220px;
}




/* contact.html */
.contact-section{
  position: relative;
  background:url("../img/contact.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  padding:40px 0;
  min-height:100vh; 
}

.contact-form{
  max-width:600px;
  margin:auto;
  padding:0 10px;
  overflow: hidden;
  margin-top:100px;
}

 .contact-form-text{
   display:block;
   width:100%;
   box-sizing: border-box;
   margin:1rem 0;
   border:0;
   background:#111;
   padding:20px 40px;
   outline :none;
   color:#ddd;

 } 
  .contact-form-text:focus{
    box-shadow:0 0 10px 4px #34495e;

  }
  textarea.contact-form-text{
    resize:none;
    height:120px;
  }

  .contact-form-btn{
    float:right;
    border:0;
    background:#34495e;
    color:#fff;
    padding:12px 50px;
    border-radius: 20px;
    cursor:pointer;
    transition:0.5s;
  }

  .contact-form-btn:hover{
    background:#2980b9;
  }

  .s4_about_grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-gap: 10px;
    grid-template-areas: 
        "img-selfportrait img-selfportrait img-selfportrait"
        "hd-about hd-about hd-about"
        "txt-about txt-about txt-about"
    ;
 }
    
 .img-selfportrait{
    grid-area: img-selfportrait;
    grid-column: 2 / 3;
 }
 
 .hd-about{
    grid-area: hd-about;
    text-align: center;
 }
 .txt-about{
    grid-area:txt-about;
    line-height: 2;
 }
    
        
 @media (min-width: 768px) { 
    .s4_about_grid{
        grid-template-areas: 
            "img-selfportrait hd-about hd-about "
            "img-selfportrait txt-about txt-about"
            "img-selfportrait txt-about txt-about"
        ;
    }
    
    .img-selfportrait{
         grid-column: 1 / 2;
    }
    
    .hd-about{
        text-align: left;
        padding-left: 20px;
    }
    
    .txt-about{
        padding-left: 20px;
    }
 }
            
            
 @media (min-width: 992px) { 
    .s4_about_grid{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
        grid-gap: 10px;
        grid-template-areas: 
            "hd-about hd-about"
            "txt-about img-selfportrait"
        ;
    }
        
     .img-selfportrait{
         grid-column: 2 / -1;
    }
 }

